# Environments
.env
quant_env/
.venv/
env/

# Python
__pycache__/
*.pyc

# [추가 1] 주피터 노트북 자동 생성 캐시 파일 (체크포인트)
.ipynb_checkpoints/

# [추가 2] VS Code 자체 설정 폴더 (개인 환경 설정 제외)
.vscode/

# [추가 3] 데이터 수집 시 생성될 수 있는 임시/대용량 CSV 및 Excel 파일
*.csv
*.xlsx
*.parquet